.header {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
}
.header-wrapper__product {
  padding-top: 0;
}
.header__shop {
  margin-left: 200px;
}

.nav {
  font-size: 15px;
}
.nav__list {
  display: flex;
  margin-left: 28px;
}
.nav__item + .nav__item {
  margin-left: 30px;
}

.main__link {
  position: relative;
}
.main__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 100%;
  opacity: 0;
  height: 2px;
  transition: opacity 0.3s;
  background-color: currentColor;
}
.main__link:hover::after {
  opacity: 1;
  color: var(--color-dark);
}
.main__link--current::after {
  opacity: 1;
  transition: opacity 0.3s;
  color: var(--color-dark);
}
.main__link--white {
  color: var(--color-white);
}

.shop {
  display: flex;
}
.shop__form-btn {
  display: inline-block;
  width: 18px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../img/icon-search.png);
}
.shop__item {
  margin-left: 25px;
}
.shop__item-link {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shop-link--user {
  background-image: url(../../../img/user.png);
}

.card {
  height: auto;
  width: auto;
}
.card__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../img/bag.png);
}

.catalog-header {
  padding-top: 36px;
}
.catalog-nav__list {
  margin-left: 0;
}
.catalog-item + .catalog-item {
  margin-left: 45px;
}
.catalog-shop {
  margin-left: 230px;
}

.offer {
  font-size: 13px;
  padding: 13px 0;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-dark);
  position: relative;
}
.offer__btn {
  background-image: url(../../../img/icon-close-ellips.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  right: 38px;
  top: 11px;
}

@media (max-width: 400px) {
  .offer__btn {
    right: 8px;
  }
}
