.sections {
  margin-bottom: 100px;
}
.sections__list {
  display: flex;
  justify-content: space-between;
}
.sections__item {
  width: 600px;
  height: 290px;
  padding-top: 60px;
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sections__item + .sections__item {
  margin-left: 10px;
}
.sections__item:nth-child(1) {
  background-image: url(../../../img/model-1.jpg);
}
.sections__item:nth-child(2) {
  background-image: url(../../../img/model-2.jpg);
}
.sections__item:nth-child(3) {
  background-image: url(../../../img/model-3.jpg);
}
.sections__article {
  max-width: 220px;
}
.sections__title {
  font-size: 36px;
  margin-bottom: 26px;
}

@media (max-width: 1200px) {
  .sections__item {
    height: 210px;
    padding: 40px;
  }
  .sections__title {
    font-size: 30px;
  }
}
@media (max-width: 800px) {
  .sections__list {
    flex-wrap: wrap;
  }
  .sections__item + .sections__item {
    margin-left: 0;
  }
  .sections__item {
    width: 100%;
  }
  .sections__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 400px) {
  .sections__item {
    padding: 30px;
    height: 160px;
  }
  .sections__article {
    max-width: 190px;
  }
  .sections__title {
    font-size: 25px;
  }
}
