.product {
   margin-bottom: 45px;
   &__link {
      transition: color .3s;
   }
   &__link:hover {
      color: var(--color-dark);
   }
   &__list {
      display: flex;
      justify-content: center;
      margin-bottom: 42px;
   }
   &__item {
      font-size: 24px;
   }
   &__item + &__item {
      margin-left: 36px;
   }
}

.grid {
   display: grid;
}
.product-grid {
   grid-template-columns: repeat(5, 1fr);
   grid-gap:  50px 30px;
      
   &__item {
      position: relative;
      
      &:hover .product-grid__btn {
         opacity: 1;
      }

   }
   &__image {
      object-fit: cover;
      max-height: 100%;
      margin-bottom: 21px;
   }
   &__merit {
      margin-bottom: 23px;
      position: relative;
      font-weight: 700;
      font-size: 12px;
      margin-bottom: 13px;
      padding-left: 18px;
      background-repeat: no-repeat;
      text-transform: uppercase;
   }
   &__merit::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 20px;
      height: 20px;
      background-image: url(../../../img/merit-1.png);
      background-repeat: no-repeat;
      width: 11px;
      height: 13px;
   }
   &__name {
      font-size: 13px;
      color: var(--color-tundora);
      margin-bottom: 10px;
      margin-bottom: 20px;
   }
   &__price {
      font-weight: 700;
      font-size: 13px;
      margin-top: 10px;

      span {
         color: var(--color-grey);
         text-decoration: line-through;
         padding-left: 20px;
      }
   }
   &__btn {
      position: absolute;
      background-image: url(../../../img/icon-search.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 16px;
      height: 14px;
      right: 30px;
      bottom: 25px;
      opacity: 0;
      transition: opacity .3s;
   }
}